{% extends "base.html" %}

{% block content %}
<h1>Attendance Detail</h1>

<ul class="list-group mt-3">
    <li class="list-group-item"><strong>Student:</strong> {{ object.student.user.get_full_name }}</li>
    <li class="list-group-item"><strong>Date:</strong> {{ object.date }}</li>
    <li class="list-group-item"><strong>Status:</strong> {{ object.status }}</li>
</ul>

<a href="{% url 'attendance:attendance_edit' object.pk %}" class="btn btn-warning mt-3">Edit</a>
<a href="{% url 'attendance:attendance_list' %}" class="btn btn-secondary mt-3">Back to List</a>
{% endblock %}
